<!DOCTYPE html>
<html>
  <head>
    <style type='text/css'>
      #navlist li {
        display: inline-block;
        zoom: 1;
        *display: inline;
        list-style-type: none;
        vertical-align: middle;
      }
    </style>
  </head>
  <body>
    <ul id='navlist'> 
        {{#events}}
            <li>
                <h2 style='border:2px solid blue'>{{ title }}</h2>
                <p>{{ description }}</p> <br/>
            </li>
            <hr>
        {{/events}}
    </ul>
  </body>
</html>
